[Unit]
Description=Drinks Storage MQTT daemon
After=syslog.target network.target

[Service]
Environment=PYTHONUNBUFFERED=1
User=flipdot
WorkingDirectory=/home/flipdot/iod/drinks-storage-mqtt
ExecStart=/home/flipdot/iod/drinks-storage-mqtt/drinks-storage-mqtt.py
RestartSec=3

[Install]
WantedBy=multi-user.target
